.cocktail-details {
  margin-bottom: 20px;

  .cocktail-description {
    max-width: 500px;
    margin: auto;
  }

  .ingredients-container {
    width: 100px;
    position: relative;
    margin: auto;

    .ingredients-list {
      position: relative;
      right: 15%;
    }
  }
}
