.cocktail-details {
  margin-bottom: 50px;
  width: 500px;
  top: -75px;

  .cocktail-description {
    max-width: 500px;
    margin: auto;
  }

  .saved {
    margin-right: 18px;
  }

  .stat {
    font-weight: 600;
  }

  .header {
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid;
  }

  .content {
    word-wrap: break-word;
    text-align: left;
  }

  .ingredients-container {
    position: relative;
    margin: auto;
    text-align: left;
  }
}
