@import "../../utilities/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 75vh;
  color: grey;

  .cocktail-button {
    color: black;
    background-color: $coolpurp;
    font-weight: 600;
  }
}
